language: python
python:
  - "2.7"
  - "3.8"
cache: pip
install:
  - pip install -r requirements.txt
  - pip install codecov

script:
  - coverage run -m unittest discover -s test/ -t . -p '*_test.py'

after_success:
  - codecov